body, html {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/*the following is directly copy pasted from Melanie's gethipweek1 */

h1 {
  color: #61c250;
}
.headerBanner {
  margin-top: 0;
  background-color: #333;
  width: 100%;
  padding: 20px 0 20px 40px;
}
p {
  font-size: 24px;
  margin: 20px;
}
.paragraphBanner {
  background-color: #ccc;
  width: 100%;
  padding: 20px 0 20px 40px;
  margin-left: 0;
  margin-top: 50px;
}
.content {
  margin: 20px 0 20px 40px;
  font-size: 20px;
}
a {
  color: #61c250;
  text-decoration: none;
}
img {
  width: 300px;
}
.decorated {
  text-decoration: underline;
  font-weight: bold;
  font-style: italic;
}